.autotag-dnd .left,.autotag-dnd .right{
 width: 45%;
}
.autotag-dnd div{
 border:solid 1px #bbb;
 padding: 5px;
 margin: 5px;
 width:45%;
 height:300px;
 overflow:auto;
 float:left;
}
.autotag-dnd li,.autotag-dnd div li{
 list-style: none;
 z-index:100;
 margin:1px;
 border: dotted 1px #ccc;
 padding:0 0 0 5px;
 background: inherit;
 width:90%px;
}
.autotag-dnd li:hover{
 cursor:move;
}
.autotag-dnd-drop-active, .autotag-dnd-drop-hover{
 z-index:-1;
}
div.autotag-dnd-drop-hover, div.autotag-dnd-drop-active{
 background-image:url('drop.gif');
 background-position: 50% 50%;
 background-repeat: no-repeat;
}