#uauto {
  position: absolute;
  border: 1px solid;
  overflow: hidden;
  z-index: 100;
}
#uauto ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#uauto li {
  background: #fff;
  color: #000;
  cursor:pointer;
  margin-left:-5px;
  white-space: pre;
  font-weight:normal;
}
#uauto li.selected {
  background: #0072b9;
  color: #fff;
  font-weight:bold;
}
html.js #edit-body {
  background-image: url(./throbber0.gif);
  background-repeat: no-repeat;
  background-position: 100% 2px; /* LTR */
}
html.js #edit-body.throbbing {
  background-image: url(./throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% -18px; /* LTR */
}